# Ігнорувати всі файли з розширенням .log
*.log

# Ігнорувати директорію node_modules
node_modules/

# Ігнорувати файли конфігурації IDE
.vscode/
.idea/

# Ігнорувати скомпільовані файли
*.class
*.o
*.out

# Ігнорувати тимчасові файли
*~
