.wrapper {
	width: 1280px;
	margin: 0 auto;
}

.header {
	padding-bottom: 200px;
}

.headerTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login {
	display: flex;
	gap: 5px;
	align-items: center;
	cursor: pointer;
}

.login p:hover {
	text-decoration: underline;
}

.line {
	height: 37px;
	width: 1px;
	background-color: black;
}

.headerContent {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
	background-color: rgba(255, 255,255, 40%);
	padding: 20px;
}

.contentLeft {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 550px;
}

.nameBlog {
	font-weight: 500;
	color: grey;
}

.title {
	font-size: 50px;
	font-weight: 700;
}

.subTitle {
	font-size: 22px;
	font-weight: 400;
}

.timeBlog {
	color: grey;
}

.modalWrapper {
	position: absolute;
	background-color: white;
	width: 750px;
	min-height: 670px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	outline: none;
	border-radius: 20px;
	padding: 20px;
	z-index: 110;
}

.modalWrapperLogIn {
	position: absolute;
	background-color: white;
	width: 750px;
	min-height: 450px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	outline: none;
	border-radius: 20px;
	padding: 20px;
	z-index: 110;
}

.titleSignIn {
	display: flex;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 50px;
}

.label {
	font-size: 14px;
	font-weight: 500;
}

.input {
	width: 100%;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
}

.customCheckbox {
	display: flex;
	gap: 10px;
}

.formBtn {
	width: max-content;
	border: none;
	border-radius: 30px;
	background-color: black;
	color: white;
	padding: 20px 40px;
}

.signIn {
	color:aqua;
	text-decoration: underline;
}

.haveAccount {
	display: flex;
	gap: 20px;
	margin: 0 auto;
}